:root {
	--bg: #FFFFFF;
	--fg: #1C1C18;
	--ln: #796848;
	--lh: #C7B6AA;
}
@media (prefers-color-scheme: dark) {
	:root {
		--bg: #000000;
		--fg: #FFFFFF;
		--ln: #C7B6AA;
		--lh: #796848;
	}
}

body {
	background-color: var(--bg);
	color: var(--fg);
	font-size: 1.2em;
	line-height: 1.4;
}

#main {
	max-width: 800px;
	margin: auto;		
}

a { color: var(--ln); }
a:hover { color: var(--lh); }

.image {
	display: inline-block;
	border: 3px solid var(--fg);
	padding: 10px;
}

img, .image img {
	float: right;
	max-width: 30vw;
}
